{{> head }}
    {{> navbar}}
        <div class="row">
            <div class="col-8">
                <h1>Capitan America</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, repellendus dolorum accusantium ducimus quos aspernatur eligendi corporis non impedit facere voluptatibus numquam, rerum ipsam reprehenderit, odio repellat error animi aut.</p>
            </div>

            <div class="col-4">
                <img src="assets/img/capitan america.jpg" class="img-thumbnail" alt="capitan america">
            </div>
        </div>
{{> footer}}